@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

$side-length: 500px
$thickness: 100px
$green: #6eec61
$red: #ec6161
$blue: #87dbfa
$yellow: #fdff78
$brown: white
$white: #424242
$btn-sides: 50px

body
    margin: 0
    padding: 0
    background-color: $brown

.no-select
    user-select: none

.wrapper
    margin: 100px auto
    height: $side-length
    width: $side-length
    position: relative
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    padding: 25px
    background-color: $white
    border-radius: 50%

    .level
        margin-top: $side-length/3
        grid-column: 1/3
        justify-self: center
        font-size: 2.5em
        text-align: center
        font-family: 'Lato'
        color: white
        background-color: grey
        height: 50px
        border-radius: 25px
        width: 150px

    .level::before
        content: 'Level'
        font-size: 0.4em
        left: 47%
        position: absolute
        top: $side-length/3

    =ctrl-buttons($just, $margin)
        width: $btn-sides
        height: $btn-sides
        justify-self: $just
        margin-#{$margin}: 25px
        border-radius: 50%
        background-color: white
        outline: none
        border: none
        z-index: 100000

    =ctrl-buttons-hover
        cursor: pointer
        opacity: 0.5

    =ctrl-buttons-label($content, $side, $margin)
        font-size: 1em
        color: white
        content: $content
        position: absolute
        bottom: $side-length/3+30px
        #{$side}: $side-length/2+$margin
        

    .start
        +ctrl-buttons(end, right)

    .restart
        +ctrl-buttons(start, left)

    .start:hover, .restart:hover
        +ctrl-buttons-hover

    .start::after
        +ctrl-buttons-label("Start", "left", -40px)

    .restart::after
        +ctrl-buttons-label("Restart", "right", -45px)

    .settings
        position: absolute
        background-color: $white
        color: white
        border-radius: 50%
        width: 40px
        height: 40px
        top: 0
        right: 0
        border: none
        outline: none

    .settings:hover
        cursor: pointer
        opacity: 0.7

    =simon-button($colour, $rotate, $gc, $gr)
        grid-column: $gc
        grid-row: $gr
        width: $side-length/2
        height: $side-length/2
        stroke: $colour
        position: absolute
        outline: none
        transform: rotate($rotate)

    =simon-hover
        cursor: pointer

    .simon-active
        opacity: 0.5

    .unclickable
        cursor: hand
        pointer-events: none

    .gr-c
        +simon-button($green, 0, 1, 1)

    .re-c
        +simon-button($red, 90deg, 2, 1)

    .bl-c
        +simon-button($blue, -180deg, 2, 2);

    .ye-c
        +simon-button($yellow, -90deg, 1, 2)

    .green-button:hover, .red-button:hover, .blue-button:hover, .yellow-button:hover
        +simon-hover

.settings-wrapper
    background-color: $white
    width: $side-length
    height: $side-length/2
    margin: 200px auto
    border-radius: 5px
    display: grid
    grid-template-columns: 2fr 1fr 1fr
    grid-auto-rows: repeat(4, 1fr)

    .close
        border-radius: 50%
        background-color: $red
        width: 15px
        height: 15px
        border: none
        outline: none
        grid-column: 4
        margin: 8px 10px 
    
    .close:hover
        cursor: pointer
        opacity: 0.8
    
    =settings-label($row)
        grid-row: $row
        color: white
        font-family: 'Open Sans'
        font-size: 1.2em
        grid-column: 1
        margin: 15px 10px 10px 20px

    .strict-mode
        +settings-label(1)

    .win-level
        +settings-label(2)
    
    .time-spacing
        +settings-label(3)

    .game-over-timeout
        +settings-label(4)

    =settings-input($row)
        grid-row: $row
        grid-column: 2
        background-color: grey
        border: none
        border-radius: 25px
        outline: none
        color: white
        font-family: 'Lato'
        font-size: 1em
        width: 100px
        height: 30px
        margin: 15px 10px 10px 10px
        text-align: center
        transition: 0.5s

    .strict-toggle:hover
        cursor: pointer
        opacity: 0.6

    .strict-toggle
        +settings-input(1)

    .win-input
        +settings-input(2)

    .ts-input
        +settings-input(3)

    .got-input
        +settings-input(4)

    input::selection
        background-color: $green

    .save
        border: none
        border-radius: 25px
        outline: none
        background-color: $green
        width: 100px
        height: 30px
        grid-column: 3/5
        justify-self: center
        margin-top: 15px
        grid-row: 4
        color: white

    .save:hover
        opacity: 0.8
        cursor: pointer

.off
    display: none

.error
    box-shadow: 1px 1px 10px 1px $red
    transition: 0.5s